# ─────────────────────────────────────────
# Back-office super-admin (Next.js — port 3003)
# ─────────────────────────────────────────

# URL de l'API backend
NEXT_PUBLIC_API_URL=http://localhost:3001

# URL du panel organisateur (utilisée pour les liens de redirection)
NEXT_PUBLIC_PANEL_URL=http://localhost:3002
